.FAQSection {
  background-color: #e8dccc;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
}
.faq-section {
  max-width: 1200px;
}

.faq-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.faq-item {
    background-color: #f8ecde;
  border-bottom: 1px solid #ddd;
  padding: 15px;
}

.faq-question {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  text-align: left;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.faq-question .icon {
  transition: transform 0.3s ease;
  font-weight: bold;
  font-size: 1.2rem;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.3s ease;
  padding: 0 0;
}

.faq-answer p {
  margin: 10px 0;
}

.faq-item.active .faq-answer {
  max-height: 200px;
  padding: 10px 0;
}

.faq-item.active .faq-question .icon {
  content: "–";
}


@media (max-width:768px){
    .FAQSection {
  padding: 30px 20px;
}
.faq-section {
  max-width: 100%;
}
.faq-question {
  font-size:16px;
  font-weight: 600;
  padding: 5px 0;
}
.faq-answer p {
  margin: 5px 0;
}
}